fastapi
uvicorn
python-multipart
streamlit
requests
pydantic
pydantic-settings
numpy
pandas
scikit-learn
spacy
pytesseract
pdfplumber
pillow
rapidocr-onnxruntime
opencv-python-headless
langchain
langchain-community
langchain-text-splitters
faiss-cpu
apscheduler
pytest
reportlab
arabic-reshaper
python-bidi